{% extends "layout.html" %}
{% block content %}
<div class="article-metadata">
  <h2><b>Halls adreses:</b></h2>
</div>
  <p><font color="green">Green Hall</font>: Husova 16/200, 602 00 Brno-střed</p>
  <p><font color="red">Red Hall</font>: Svatopluka Čecha 1939/106a, 612 00 Brno-Královo Pole</p>
  <p><font color="blue">Blue Hall</font>: Vídeňská 89A, 602 00 Brno</p>

<div class="article-metadata">
  <h2><b>Authors contacts:</b></h2>
</div>
  <p><b>Abikenova Zhamilya:</b> xabike00@stud.fit.vutbr.cz</p>
  <p><b>Glós Kristián:</b> xglosk00@stud.fit.vutbr.cz</p>
  <p><b>Shamardin Egor:</b> xshama00@stud.fit.vutbr.cz</p>
{% endblock content %}