{% extends "layout.html" %}
{% block content %}


<img class="rounded-circle account-img" src="{{ picture }}">
    {% if not parent %}
    <a href="{{ url_for('event_Parent',event_id=event.id) }}">Event Details</a>
    {% endif %}

  <div class="media-body">
    <div class="article-metadata">
      {% if current_user.role == "Admin" or current_user.role == "Redactor" %}
        <div class="text-right mb-3">
        {% if parent %}
          <a class="btn btn-outline-info" href="{{ url_for('update_event', event_id=event.id) }}">Update event</a>
          <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete event</button>
        {% endif %}
        </div>
      {% endif %}
      <h2 class="article-title">{{ event.name }}</h2>
      <p><b>Type:</b> {{ event.event_type }}</p>
      <p><b>Duration:</b> {{ event.duration }}</p>
      <p><b>Age Restriction:</b> {{ event.age_restriction }}+</p>
      {% if current_user.role == "User" or current_user.role == "Cashier" %}
        {% for date in dates %}
          {% if date.alldates[0].id == event.id and hall_color == date.alldates_in_hall[0].hall_name and event_time == date.date %}
            <p><b>Time:</b> {{ date.date }}</p>
            <p><b>Hall:</b> {{ date.alldates_in_hall[0].hall_name }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>



{% if not parent %}

  <!-- Select by HALL -->
  <form method="POST" action="">
    <table class="table table-borderless" >
      <tr align="center">
        <th></th>
        {% for i in range(1, 7)%}
          <th>Seat {{ i }}</th>
        {% endfor %}
      </tr>
      {% for x in range(1, 4) %}
        <tr align="center">
          <th>Row {{ x }}</th>
          {% for y in range(1, 7) %}
              <th><input type="checkbox" name="seat" value="{{ x|string + '_' + y|string }}" {{ seats_status[x-1][y-1] }}><br></th>
              <span class="checkmark"></span>
          {% endfor %}
        </tr>
        {% endfor %}
    </table>
    
      <div class="form-group col-md-12">
        {{ form.csrf_token }}
        {{ form.reserve(class="btn float-right btn-outline-success") }}
      </div>
  </form>

{% endif %}


  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Event?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_event', event_id=event.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if parent %}
    {% if current_user.role == "Admin" or current_user.role == "Redactor" %}
      <form method="POST" action="">
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form.csrf_token }}
            <h6>Date</h6>
              {% if form.date.errors %}
                {{ form.date(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.date.errors %}
                    <span>Wrong time format, please use: D-M-Y H:M</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.date(class="form-control") }}
              {% endif %}
          </div>
          <div class="form-group col-md-6">
            <h6>Hall</h6>
            <select id="inputState" {{ form.hall(class="form-control input-sm") }})>
              <option selected> Blue Hall </option>
              <option selected> Red Hall </option>
               <option selected> Green Hall </option>
            </select>
          </div>
          <div class="form-group col-md-12">
            {{ form.create(class="btn float-right btn-outline-success") }}
          </div>
        </div>
            <div class="content-section">
            {% for occassion in occasions %}
              <p>{{ occassion }}</p>
            {% endfor %}
            </div>
      </form>
    {% endif %}
  {% endif %}
{% endblock content %}
 