{% extends "layout.html" %}
{% block content %}
  
  {% if current_user.role == "Admin" or current_user.role == "Redactor" %}
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
        <div class="text-right mb-3">
          <a class="btn btn-outline-success" onclick="" href="{{ url_for('create_event') }}">Create event</a>
        </div>
    </form>
  {% endif %}

  <style>
    .nav-link{
      color:#000;
    }
    h4:hover { color: blue; }
    .tab-content {
      padding: 20px;
    }
  </style>

  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
      <li class="nav-item waves-effect waves-light">
        <a class="nav-link active" id="hall_all-tab" data-toggle="tab" href="#hall_all" role="tab" aria-controls="hall_all" aria-selected="false"> All </a>
      </li>
      <li class="nav-item waves-effect waves-light">
        <a class="nav-link" id="hall_1-tab" data-toggle="tab" href="#hall_1" role="tab" aria-controls="hall_1" aria-selected="false"> {{ halls[0] }}</a>
      </li>
      <li class="nav-item waves-effect waves-light">
        <a class="nav-link" id="hall_2-tab" data-toggle="tab" href="#hall_2" role="tab" aria-controls="hall_2" aria-selected="false"> {{ halls[1] }}</a>
      </li>
      <li class="nav-item waves-effect waves-light">
        <a class="nav-link" id="hall_3-tab" data-toggle="tab" href="#hall_3" role="tab" aria-controls="hall_3" aria-selected="false"> {{ halls[2] }}</a>
      </li>
      {% if current_user.role == "Admin" or current_user.role == "Redactor" %}
      <li class="nav-item waves-effect waves-light">
        <a class="nav-link" id="event_details-tab" data-toggle="tab" href="#event_details" role="tab" aria-controls="event_details" aria-selected="false"> Event details</a>
      </li>
      {% endif %}
  </ul>

    <div class="tab-content" id="UserContent">
      <div class="tab-pane in active" id="hall_all" role="tabpanel" aria-labelledby="hall_all-tab">
        {% for date in dates %}
          <table class="table">
            <tbody>
              <tr class="d-flex">
                <td>
                  <img class="rounded" width="150" height="200" src="{{ url_for('static', filename='profile_picture/' + date.alldates[0].picture) }}">
                </td>
                <td>
                  <div class="media-body">
                    <a class="mr-2" href="{{ url_for('event', event_id=date.alldates[0].id, hall_color=date.alldates_in_hall[0].hall_name, event_time=date.date) }}">
                      <h4>{{ date.alldates[0].name }}</h4>
                    </a>
                    <p><b>Type:</b> {{ date.alldates[0].event_type }}</p>
                    <p><b>Hall:</b> {{ date.alldates_in_hall[0].hall_name }} </p>
                    <p><b>Duration:</b> {{ date.alldates[0].duration }}</p>
                    <p><b>Language:</b> {{ date.alldates[0].language }}</p>
                    <p><b>Time:</b> {{ date.date }}</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="hall_1" role="tabpanel" aria-labelledby="hall_1-tab">
        {% for date in dates %}
          {% if date.alldates_in_hall[0].hall_name == "Green Hall" %}
            <table class="table">
            <tbody>
              <tr class="d-flex">
                <td>
                  <img class="rounded" width="150" height="200" src="{{ url_for('static', filename='profile_picture/' + date.alldates[0].picture) }}">
                </td>
                <td>
                  <div class="media-body">
                    <a class="mr-2" href="{{ url_for('event', event_id=date.alldates[0].id, hall_color='Green Hall', event_time=date.date) }}">
                      <h4>{{ date.alldates[0].name }}</h4>
                    </a>
                    <p><b>Type:</b> {{ date.alldates[0].event_type }}</p>
                    <p><b>Duration:</b> {{ date.alldates[0].duration }}</p>
                    <p><b>Language:</b> {{ date.alldates[0].language }}</p>
                    <p><b>Time:</b> {{ date.date }}</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          {% endif %}
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="hall_2" role="tabpanel" aria-labelledby="hall_2-tab">
        {% for date in dates %}
          {% if date.alldates_in_hall[0].hall_name == "Red Hall" %}
            <table class="table">
              <tbody>
                <tr class="d-flex">
                  <td>
                    <img class="rounded" width="150" height="200" src="{{ url_for('static', filename='profile_picture/' + date.alldates[0].picture) }}">
                  </td>
                  <td>
                    <div class="media-body">
                      <a class="mr-2" href="{{ url_for('event', event_id=date.alldates[0].id, hall_color='Red Hall', event_time=date.date) }}">
                        <h4>{{ date.alldates[0].name }}</h4>
                      </a>
                      <p><b>Type:</b> {{ date.alldates[0].event_type }}</p>
                      <p><b>Duration:</b> {{ date.alldates[0].duration }}</p>
                      <p><b>Language:</b> {{ date.alldates[0].language }}</p>
                      <p><b>Time:</b> {{ date.date }}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          {% endif %}
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="hall_3" role="tabpanel" aria-labelledby="hall_3-tab">
        {% for date in dates %}
          {% if date.alldates_in_hall[0].hall_name == "Blue Hall" %}
            <table class="table">
              <tbody>
                <tr class="d-flex">
                  <td>
                    <img class="rounded" width="150" height="200" src="{{ url_for('static', filename='profile_picture/' + date.alldates[0].picture) }}">
                  </td>
                  <td>
                    <div class="media-body">
                      <a class="mr-2" href="{{ url_for('event', event_id=date.alldates[0].id, hall_color='Blue Hall', event_time=date.date)}}">
                      <h4>{{ date.alldates[0].name }}</h4>
                      </a>
                      <p><b>Type:</b> {{ date.alldates[0].event_type }}</p>
                      <p><b>Duration:</b> {{ date.alldates[0].duration }}</p>
                      <p><b>Language:</b> {{ date.alldates[0].language }}</p>
                      <p><b>Time:</b> {{ date.date }}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          {% endif %}
        {% endfor %}
      </div>
      {% if current_user.role == "Admin" or current_user.role == "Redactor" %}
        <div class="tab-pane fade" id="event_details" role="tabpanel" aria-labelledby="event_details-tab">
          {% for event in events %}
            <table class="table">
              <tbody>
                <tr class="d-flex">
                  <td>
                    <img class="rounded" width="150" height="200" src="{{ url_for('static', filename='profile_picture/' + event.picture) }}">
                  </td>
                  <td>
                    <div class="media-body">
                      <a class="mr-2" href="{{ url_for('event_Parent', event_id=event.id ) }}">
                        <h4>{{ event.name }}</h4>
                      </a>
                      <p><b>Type:</b> {{ event.event_type }}</p>
                      <p><b>Duration:</b> {{ event.duration }}</p>
                      <p><b>Age:</b> {{ event.age_restriction }}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  
          {% endfor %}
        </div>
      {% endif %}
    </div>

  

{% endblock content %}
