{% extends "layout.html" %}
{% block content %}
  {% if current_user.role == "Admin" or current_user.role == "Redactor" %}
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
        <div class="text-right mb-3">
          <a class="btn btn-outline-success" href="{{ url_for('create_event') }}">Create event</a>
        </div>
    </form>
  {% endif %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item waves-effect waves-light">
      <a class="nav-link" id="hall_1-tab" data-toggle="tab" href="#hall_1" role="tab" aria-controls="hall_1" aria-selected="false">Hall {{ halls[0].number }}</a>
    </li>
    <li class="nav-item waves-effect waves-light">
      <a class="nav-link" id="hall_2-tab" data-toggle="tab" href="#hall_2" role="tab" aria-controls="hall_2" aria-selected="false">Hall {{ halls[1].number }}</a>
    </li>
    <li class="nav-item waves-effect waves-light">
      <a class="nav-link active" id="hall_3-tab" data-toggle="tab" href="#hall_3" role="tab" aria-controls="hall_3" aria-selected="true">Hall {{ halls[2].number }}</a>
    </li>
    <li>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="hall_1" role="tabpanel" aria-labelledby="hall_1-tab">
      {% for event in events %}
        <img class="rounded-circle account-img" src="{{ event.picture }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('event', event_id=event.id) }}">{{ event.name }}</a>
            <p><b>Type:</b> {{ event.event_type }}</p>
            <p><b>Duration:</b> {{ event.duration }}</p>
            <p><b>Age:</b> {{ event.age_restriction }}</p>
          </div>
        </div>
    {% endfor %}
    </div>
    <div class="tab-pane fade" id="hall_2" role="tabpanel" aria-labelledby="hall_2-tab">Sal 2</div>
    <div class="tab-pane fade" id="hall_3" role="tabpanel" aria-labelledby="hall_3-tab">Sal 3</div>   
  </div>

  

{% endblock content %}
